.nav-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.nav-image-wrapper{
    cursor: pointer;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-image-wrapper:hover{
    cursor: pointer;
    height: 64px;
}

.nav-image{
    height: inherit;
}