.content-wrapper{
    padding: 28px;
    text-align: center;
}

.content-title{
    font-size: 3vw;

    @media (max-width: 1400px) {
        font-size: 45px;
    }
}

.content-title-green{
    color: #1ad853;
}

.content-title-blue{
    color: #29c9db;
}

.content-title-suites span:nth-of-type(1n){
    color:green;
}
.content-title-suites span:nth-of-type(2n){
    color:red;
}
.content-title-suites span:nth-of-type(3n){
    color:rgb(243, 240, 43);
}
.content-title-suites span:nth-of-type(4n){
    color:rgb(180, 33, 148);
}

.inner-content-wrapper{
    padding-top: 72px;
    padding-left: 200px;
    padding-right: 200px;
    

    @media (max-width: 1200px) {
        padding-left: 160px;
        padding-right: 160px;
    }

    @media (max-width: 1000px) {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.inner-content-wrapper p{
    font-size: large;
}