.content-wrapper{
    padding: 28px;
    text-align: center;
}

.content-title{
    font-size: 3vw;
    padding-top: 14px;

    @media (max-width: 1400px) {
        font-size: 45px;
    }
}

.content-title-green{
    color: #095e22;
}

.content-title-blue{
    color: #29c9db;
}

.content-title-suites span:nth-of-type(1n){
    color:green;
}
.content-title-suites span:nth-of-type(2n){
    color:red;
}
.content-title-suites span:nth-of-type(3n){
    color:rgb(243, 240, 43);
}
.content-title-suites span:nth-of-type(4n){
    color:rgb(180, 33, 148);
}

.inner-content-wrapper{
    padding-top: 52px;
    padding-left: 200px;
    padding-right: 200px;
    

    @media (max-width: 1200px) {
        padding-left: 160px;
        padding-right: 160px;
    }

    @media (max-width: 1000px) {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.inner-content-wrapper h2{
    margin-block-end: .3em;
}

.inner-content-wrapper p{
    margin-block-start: .3em;
    font-size: large;
}

.inner-content-wrapper a{
    font-size: large;
}

.link-right-margin{
    margin-right: 12%;
}

.large-image{
    width: 50%;
}

.small-image{
    width: 16.55%;
}

.link-icon{
    vertical-align: bottom;
    margin-right: 4px;
}